.hero-list {
    margin-top: 20px;
}

.hero-list-item {
    padding-bottom: 20px;
    display: flex;
}

.hero-icon {
    margin-right: 10px;
}

.hero-item-text {
    font-size: var(--fontSizeBase300);
    color: var(--colorNeutralBackgroundStatic);
}

.hero-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-message {
    font-size: var(--fontSizeBase500);
    color: var(--colorNeutralBackgroundStatic);
    font-weight: var(--fontWeightRegular);
    padding-left: 10px;
    padding-right: 10px;
}