/* Global Fluent UI overrides */
/* .fui-TooltipContent {
  background-color: #000000;
  color: #ffffff;
}

.fui-TooltipContent {
  --colorNeutralBackground1: #000000;
  --colorNeutralForeground1: #ffffff;
} */
