.app-container {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 0px 5px 0px 5px;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 2px; /* decrease width */
  height: 3px; /* for horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
