.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #ffffff;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #e1e1e1;
  border-top: 4px solid #0078d4; /* Fluent UI blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 12px;
  font-size: 14px;
  color: #323130;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
